:root {
  --black: #111;
  --blue: #0074D9;
  --navy: #001f3f;
  --green: rgb(7, 146, 23);
  --olive: rgb(24, 92, 63);
  --lighter-gray: #DDD;
  --light-gray: #AAA;  
  --gray: #777;
  --dark-gray: #555;
  --silver: #DDD;
  --orange: #FF851B;
  --brown: rgb(119, 24, 19);
  --red: rgb(252, 96, 88);
  

  --text-color: var(--dark-gray);
  --light-text-color: var(--lighter-gray);
  --border-color: var(--light-gray);    
}

input {
  border-radius: 0.2em;
  line-height: 2;
  border: 1px solid var(--border-color);
  box-shadow: none;
}

button {
  background-color: var(--blue);
  border: none;
  color: var(--light-text-color);
  border-radius: 0.2em;
  min-width: 15em;
  min-height: 2.5em;
  font-size: 1.2em;
}

.CardForm {  
  margin: 0;    
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
}

.CardForm >:not(:last-child) {
  margin-bottom: 1em;
}

.Card {
  color: var(--light-text-color);
}

.CardFront,
.CardBack {
  width: 350px;
  height: 200px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  position: relative;
}

.CardFront {  
  background-color: var(--dark-gray);
  z-index: 1;
}

.mastercard .CardFront {
  background-color: var(--black);
}

.visa .CardFront {
  background-color: var(--navy);
}

.mir .CardFront {
  background-color: var(--olive);
}

.CardForm.maestro .Card  {
  color: var(--dark-gray);
}
.maestro .CardFront {
  background-color: var(--silver);  
}

.alfa.mastercard .CardFront, 
.alfa.mir .CardFront,
.alfa.visa .CardFront,
.alfa.maestro .CardFront {
  background-color: var(--brown);
}

.sberbank.mastercard .CardFront, 
.sberbank.mir .CardFront,
.sberbank.visa .CardFront,
.sberbank.maestro .CardFront {
  background-color: var(--green);
}



.CardBack {  
  background-color: var(--lighter-gray);
  color: var(--dark-gray);
}

.CardFront-content,
.CardBack-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.CardBack-content {
  align-items: flex-end;
}

.CardBack-content > div * {
  width: 80px;
}

.CardFront-content :not(:last-child),
.CardBack-content :not(:last-child) {
  margin-bottom: 0.5em;
}

.CardFront-content label,
.CardBack-content label {
  display: block;  
}

.CardFront-content input,
.CardBack-content input  {  
  border: 1px solid var(--border-color);
  text-align: center;
  line-height: 2;
}

.CardFront-content-first {
  display: flex;  
}
.CardFront-content-first >:not(:last-child) {
  margin-right: 1em;
}

#card_number {
  max-width: 12em;
}
#card_expiry_date,
#card_cvc {
  max-width: 5em;
}

.CardFront-content input:hover,
.CardBack-content input:hover {
  border: 1px solid var(--border-color);
}

.CardLogo {
  height: 8%;  
  display: flex;  
}

.CardLogo.bank {
  justify-content: flex-start;
  padding: 1em 0.5em 0.5em 1em;
}

.CardLogo.payment {
  justify-content: flex-end;
  padding: 0.5em 1em 1em 0.5em;
  position: absolute;
  bottom: 0;
  right: 0;
}

.CardLogo img {
  height: 100%;
}

.CardFront {
  position: relative;
  /* top: -170px;
  left: 110px;   */
  left: -55px;
}

.CardBack {
  position: relative;
  top: -170px;
  left: 55px;
  margin-bottom: -170px;  
}

.CardBack-line {
  height: 20%;
  background-color: var(--light-gray);
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.CardAmount {
  width:100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CardAmount-value {
  padding: 1em;
  width: 100%;
}

.CardAmount-value input {
  line-height: 2;
  padding-left: 1em;
  width: 90%;
}

.CardAmount-value:after {
  position: relative;
  content: '$';
  right: 2em;
}

.Description {
  font-size: 0.8em;
}

.CardSubmit {
  text-align: center;
}

.CardSubmit >:not(:last-child) {
  margin-bottom: 1em;
}
.CardSubmit .Description {
  color: var(--text-color);
}

.invalid {
  outline: var(--red) 2px solid;
  outline-offset: -2px;
}

.CardFormError {
  position: absolute;
  top: 2em;
  background-color: var(--red);
  color: white;
  animation: appear 1s;  
  border: 1px solid var(--red);
  padding: 1em;
}

.CardFormError-title {
  font-weight: bold;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--dark-gray);
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.SecurityForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.SecurityForm input {
  border: 1px solid var(--border-color);
  text-align: center;
  line-height: 2; 
}


.CheckoutForm-amount {
  font-weight: bold;  
}