:root {
  --black: #111;
  --blue: #0074D9;
  --navy: #001f3f;
  --green: rgb(7, 146, 23);
  --olive: rgb(24, 92, 63);
  --lighter-gray: #DDD;
  --light-gray: #AAA;  
  --gray: #777;
  --dark-gray: #555;
  --silver: #DDD;
  --orange: #FF851B;
  --red: rgb(119, 24, 19);

  --text-color: var(--light-gray);
  --border-color: var(--light-gray);
  --light-border-color: var(--light-gray);  
}

.CardForm {  
  margin: 0;
  color: var(--text-color);  
}

.CardFront,
.CardBack {
  width: 350px;
  height: 200px;
  border-right: 1px solid var(--light-border-color);
  border-bottom: 1px solid var(--light-border-color);
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  position: relative;
}

.CardFront {  
  background-color: var(--dark-gray);
  z-index: 1;
}

.mastercard .CardFront {
  background-color: var(--black);
}

.visa .CardFront {
  background-color: var(--navy);
}

.mir .CardFront {
  background-color: var(--olive);
}

.CardForm.maestro {
  color: var(--dark-gray);
}
.maestro .CardFront {
  background-color: var(--silver);  
}

.alfa.mastercard .CardFront, 
.alfa.mir .CardFront,
.alfa.visa .CardFront,
.alfa.maestro .CardFront {
  background-color: var(--red);
}

.sberbank.mastercard .CardFront, 
.sberbank.mir .CardFront,
.sberbank.visa .CardFront,
.sberbank.maestro .CardFront {
  background-color: var(--green);
}



.CardBack {  
  background-color: var(--lighter-gray);
  color: var(--dark-gray);
}

.CardFront-content,
.CardBack-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}

.CardBack-content {
  align-items: flex-end;
}

.CardBack-content > div * {
  width: 80px;
}

.CardFront-content > :not(:last-child),
.CardBack-content > :not(:last-child) {
  margin-bottom: 1.5em;
}
.CardFront-content > div :not(:last-child),
.CardBack-content > div :not(:last-child) {
  margin-bottom: 1em;
}

.CardFront-content label,
.CardBack-content label {
  display: block;  
}

.CardFront-content input,
.CardBack-content input  {
  margin-left: 1.5em;  
  border: 1px solid var(--light-border-color);
  border-radius: 0.2em;
}

.CardBack-content input {
  margin-left: 0;
  line-height: 2;
  text-align: center;
}

#card_number {
  max-width: 10em;
}
#card_expiry_date {
  max-width: 3em;
}

.CardFront-content input:hover,
.CardBack-content input:hover {
  border: 1px solid var(--border-color);
}

.CardLogo {
  height: 8%;  
  display: flex;  
}

.CardLogo.bank {
  justify-content: flex-start;
  padding: 1em 0.5em 0.5em 1em;
}

.CardLogo.payment {
  justify-content: flex-end;
  padding: 0.5em 1em 1em 0.5em;
}

.CardLogo img {
  height: 100%;
}

.CardBack {
  position: relative;
  top: -170px;
  left: 110px;  
}

.CardBack-line {
  height: 20%;
  background-color: var(--light-gray);
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.CardBack-description {
  font-size: 0.7em;
}